.nav-link {
    color: #36a638;
}

.banner-main {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: max-content;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-main-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #36a638;
    border-radius: 20px;
    opacity: 0.5;
}

.background-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #36a638;
    border-radius: 20px;
    opacity: 0.1;
}